<!DOCTYPE html>
<html>
  <head>
    <title>Snowflake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <header>
      <h1><a href="/"><i class="fa fa-snowflake-o"></i> Snowflake</a></h1>
    </header>
    <main class="main">
      <% if flash.present? %>
        <div class="messages">
          <% flash.each do |type, msg| %>
            <div class="msg <%= type.to_s %>"><span><%= msg.html_safe %></span><a href="#" class="close"><i class="fa fa-times"></i></a></div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
